body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
}
#u4 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
}
#u6 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
}
#u8 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:62px;
  top:20px;
  width:195px;
  height:37px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:84px;
  top:119px;
  width:152px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:60px;
  top:234px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:60px;
  top:269px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:62px;
  top:308px;
  width:195px;
  height:56px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:198px;
  height:59px;
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:191px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:62px;
  top:383px;
  width:195px;
  height:30px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:198px;
  height:33px;
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:62px;
  top:421px;
  width:195px;
  height:30px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:198px;
  height:33px;
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
