body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:240px;
  width:320px;
  height:180px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:181px;
}
#u1 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:200px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:6px;
  width:99px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:255px;
  width:88px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:282px;
  width:61px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:10px;
  top:313px;
  width:84px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:109px;
  top:252px;
  width:91px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:218px;
  top:252px;
  width:91px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:109px;
  top:281px;
  width:200px;
  height:17px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:109px;
  top:308px;
  width:200px;
  height:52px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:53px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:211px;
  width:66px;
  height:22px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:280px;
  top:208px;
  width:29px;
  height:26px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:40px;
  width:321px;
  height:161px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:161px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:1001px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:1001px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1000px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1000px;
}
#u27 {
  position:absolute;
  left:2px;
  top:492px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:170px;
  top:130px;
  width:221px;
  height:141px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:141px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:40px;
  top:75px;
  width:40px;
  height:60px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:53px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:35px;
  top:59px;
  width:50px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:170px;
  top:20px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:430px;
  top:200px;
  width:221px;
  height:141px;
  overflow:hidden;
}
#u38_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:141px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:40px;
  top:75px;
  width:40px;
  height:60px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:53px;
}
#u43 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:35px;
  top:59px;
  width:50px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:170px;
  top:20px;
  width:30px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:134px;
  top:90px;
  width:40px;
  height:60px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:279px;
  top:4px;
  width:32px;
  height:32px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:40px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:10px;
  top:429px;
  width:22px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:200px;
  top:425px;
  width:114px;
  height:30px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:117px;
  height:33px;
}
#u58_img.mouseDown {
}
#u58.mouseDown {
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:10px;
  top:4px;
  width:40px;
  height:30px;
  font-size:10px;
}
#u60_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:33px;
}
#u61 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:10px;
  top:367px;
  width:63px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:100px;
  top:370px;
  width:190px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:4px;
  width:190px;
  height:3px;
}
#u65 {
  position:absolute;
  left:93px;
  top:367px;
  width:16px;
  height:16px;
}
#u66 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:280px;
  top:367px;
  width:16px;
  height:16px;
}
#u68 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u69 {
  position:absolute;
  left:150px;
  top:367px;
  width:16px;
  height:16px;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:216px;
  top:367px;
  width:16px;
  height:16px;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  position:absolute;
  left:73px;
  top:383px;
  width:55px;
  height:34px;
  font-size:11px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:257px;
  top:383px;
  width:60px;
  height:34px;
  font-size:11px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:128px;
  top:383px;
  width:55px;
  height:34px;
  font-size:11px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:193px;
  top:383px;
  width:64px;
  height:34px;
  font-size:11px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u80 {
  position:absolute;
  left:2px;
  top:3px;
  width:60px;
  word-wrap:break-word;
}
