body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:421px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:421px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:6px;
  width:99px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:321px;
  height:40px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:317px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-1px;
  top:420px;
  width:321px;
  height:40px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:429px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:279px;
  top:4px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:425px;
  width:154px;
  height:30px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:157px;
  height:33px;
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:213px;
  top:25px;
  width:100px;
  height:14px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:186px;
  width:58px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:86px;
  top:182px;
  width:65px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:10px;
  top:218px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:86px;
  top:214px;
  width:65px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:256px;
  width:320px;
  height:54px;
  font-family:'Arial Kursiv', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:55px;
}
#u25 {
  position:absolute;
  left:10px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:314px;
  width:184px;
  height:20px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:21px;
}
#u27 {
  position:absolute;
  left:10px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:360px;
  width:63px;
  height:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:101px;
  top:363px;
  width:190px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:4px;
  width:190px;
  height:3px;
}
#u31 {
  position:absolute;
  left:94px;
  top:360px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:281px;
  top:360px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:151px;
  top:360px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:217px;
  top:360px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:74px;
  top:376px;
  width:55px;
  height:34px;
  font-size:11px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:258px;
  top:376px;
  width:60px;
  height:34px;
  font-size:11px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:129px;
  top:376px;
  width:55px;
  height:34px;
  font-size:11px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:194px;
  top:376px;
  width:64px;
  height:34px;
  font-size:11px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:60px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:195px;
  top:312px;
  width:70px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
#u48 {
  position:absolute;
  left:0px;
  top:157px;
  width:320px;
  height:26px;
  font-family:'Arial Kursiv', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:27px;
}
#u49 {
  position:absolute;
  left:10px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:154px;
  top:153px;
  visibility:hidden;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
  font-family:'Arial Kursiv', 'Arial';
  font-style:italic;
  font-size:11px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:81px;
}
#u52 {
  position:absolute;
  left:22px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:10px;
  top:4px;
  width:40px;
  height:31px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
