body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:420px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:420px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:177px;
  width:200px;
  height:100px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-1px;
  top:420px;
  width:321px;
  height:40px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:62px;
  top:424px;
  width:195px;
  height:31px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:198px;
  height:34px;
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:321px;
  height:40px;
  font-family:'Arial Fett', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:317px;
  word-wrap:break-word;
}
